.countryDetails{
align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    margin: 0rem 10rem 0rem 10rem;
    padding:20px;
    
  
}

.image1{
    border: 1px solid transparent;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn{
    width:20rem;
}
#span{
    padding:5px;
    font-size: 1rem;
}